
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  
    <title>JumboBlog</title>

    <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/jumbotron-narrow.css">

  </head>

  <body style="  background-image: url('static/images.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;">

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="login">Login</a></li>
          </ul>
        </nav>
        <a href="/"><h3>JumboBlog</h3></a>
      </div>

      <div class="jumbotron">
        <h1 id="h1_heading">Blogging Every Movement</h1>
        <p class="lead">JumboBlog is  a open-source blogging platform created by Urvil Patel.This Blogging Platform's backend is writtern in Python with use of Bottle micro-framework and using MongoDB as a database.</p>
        <p><a class="btn btn-lg btn-success" href="signup" role="button">Signup Now</a></p>
      </div>

       <div class="jumbotron">
        <img src="static/github.png" alt="Githublogo" class="github"/>
        <p class="lead">If you want to contrubute on this project then see my github repository and I welcome every one who intrested in contrubute or even add more extra features in this projects</p>
        <p><a class="btn btn-lg btn-success" href="https://github.com/urvil38/blog" target="_blank" role="button">Check Now</a></p>
      </div>


      <footer class="footer">
      <a href="http://www.facebook.com/urvil.patel.104"><img src="static/facebook-wrap.png" alt="Facebooklogo" class="social-icon"/></a>
          <a href="http://www.twitter.com/UrvilPatel12"><img src="static/twitter-wrap.png" alt="Twitterlogo" class="social-icon"/></a>
        <p>&copy; 2016 Urvil Patel.</p>
      </footer>

    </div> 
  </body>
</html>
