
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  
    <title>Blog</title>

    <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/jumbotron-narrow.css">

  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Login</a></li>
          </ul>
        </nav>
        <a href="/"><h3 class="text-muted">Blog</h3></a>
      </div>

      <div class="jumbotron">
        <h1>Blogging Every Movement</h1>
        <p class="lead">Blog is  a open-source bloging platform created by Urvil Patel.This Bloging Platform's backend is writtern in Python with use of Bottle micro-framework and using MongoDB as a database.</p>
        <p><a class="btn btn-lg btn-success" href="signup" role="button">Sign up</a></p>
      </div>


      <footer class="footer">
        <p>&copy; 2016 Urvil Patel</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
